/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@font-face{
    font-family: 'proxima';
    src: url(../../proxima_ssv/Proximathin.otf);
  }
  @font-face{
    font-family: 'proximareg';
    src: url(../../proxima_ssv/ProximaNova-Regular.otf);
  }



/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'proxima'; */
    font-family: 'Roboto', sans-serif;
}

/* container */
.container {
    overflow: hidden;
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    padding: 0 15px;
}

/* row with clearfix hack */

.row {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.row::before,
.row::after {
    content:"";
    clear: both;
    display: table;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-end{
  justify-content: flex-end;
}
/* column */
.column {
  width: 100%;
}
.align-self-center{
  align-self: center;
}

/* Text */
.text-center{
  text-align: center;
}

/* sm */
@media (min-width: 576px){
    .col-sm-12{
      width: calc(100%/12*12);
    }
    .col-sm-11{
      width: calc(100%/12*11);
    }
    .col-sm-10{
      width: calc(100%/12*10);
    }
    .col-sm-9{
      width: calc(100%/12*9);
    }
    .col-sm-8{
      width: calc(100%/12*8);
    }
    .col-sm-7{
      width: calc(100%/12*7);
    }
    .col-sm-6{
      width: calc(100%/12*6);
    }
    .col-sm-5{
      width: calc(100%/12*5);
    }
    .col-sm-4{
      width: calc(100%/12*4);
    }
    .col-sm-3{
      width: calc(100%/12*3);
    }
    .col-sm-2{
      width: calc(100%/12*2);
    }
    .col-sm-1{
      width: calc(100%/12*1);
    }
}
@media (max-width: 576px){
    .col-sm-12{
      width: 100%;;
    }
    .col-sm-11{
      width: 100%;;
    }
    .col-sm-10{
      width: 100%;;
    }
    .col-sm-9{
      width: 100%;
    }
    .col-sm-8{
      width: 100%;
    }
    .col-sm-7{
      width: 100%;
    }
    .col-sm-6{
      width: 100%;
    }
    .col-sm-5{
      width: 100%;
    }
    .col-sm-4{
      width: 100%;
    }
    .col-sm-3{
      width: 100%;
    }
    .col-sm-2{
      width: 100%;
    }
    .col-sm-1{
      width: 100%;
    }
}
  /* md */
  @media (min-width: 768px){
      .col-md-1{
      width: calc(100%/12*1);
    }
      .col-md-2{
      width: calc(100%/12*2);
    }
      .col-md-3{
      width: calc(100%/12*3);
    }
      .col-md-4{
      width: calc(100%/12*4);
    }
      .col-md-5{
      width: calc(100%/12*5);
    }
      .col-md-6{
      width: calc(100%/12*6);
    }
      .col-md-7{
      width: calc(100%/12*7);
    }
      .col-md-8{
      width: calc(100%/12*8);
    }
      .col-md-9{
      width: calc(100%/12*9);
    }
      .col-md-10{
      width: calc(100%/12*10);
    }
      .col-md-11{
      width: calc(100%/12*11);
    }
      .col-md-12{
      width: calc(100%/12*12);
    }
  }
  @media (max-width: 768px){
    .col-md-1{
    width: 100%
    }
    .col-md-2{
    width: 100%
    }
    .col-md-3{
    width: 100%
    }
    .col-md-4{
    width: 100%
    }
    .col-md-5{
    width: 100%
    }
    .col-md-6{
    width: 100%
    }
    .col-md-7{
    width: 100%
    }
    .col-md-8{
    width: 100%
    }
    .col-md-9{
    width: 100%
    }
    .col-md-10{
    width: 100%
  }
    .col-md-11{
    width: 100%
  }
    .col-md-12{
    width: 100%
  }
}
  @media (min-width: 992px){
    .col-lg-1{
      width: calc(100%/12);
    }
    .col-lg-2{
      width: calc(100%/12*2);
    }
    .col-lg-3{
      width: calc(100%/12*3);
    }
    .col-lg-4{
      width: calc(100%/12*4);
    }
    .col-lg-5{
      width: calc(100%/12*5);
    }
    .col-lg-6{
      width: calc(100%/12*6);
    }
    .col-lg-7{
      width: calc(100%/12*7);
    }
    .col-lg-8{
      width: calc(100%/12*8);
    }
    .col-lg-9{
      width: calc(100%/12*9);
    }
    .col-lg-10{
      width: calc(100%/12*10);
    }
    .col-lg-11{
      width: calc(100%/12*11);
    }
    .col-lg-12{
      width: calc(100%/12*12);
    }
  }
  
  /* xl */
  @media (min-width: 1200px){
      .col-xl-1{
      width: calc(100%/12);
    }
      .col-xl-2{
      width: calc(100%/12*2);
    }
      .col-xl-3{
      width: calc(100%/12*3);
    }
      .col-xl-4{
      width: calc(100%/12*4);
    }
      .col-xl-5{
      width: calc(100%/12*5);
    }
      .col-xl-6{
      width: calc(100%/12*6);
    }
      .col-xl-7{
      width: calc(100%/12*7);
    }
      .col-xl-8{
      width: calc(100%/12*8);
    }
      .col-xl-9{
      width: calc(100%/12*9);
    }
      .col-xl-10{
      width: calc(100%/12*10);
    }
      .col-xl-11{
      width: calc(100%/12*11);
    }
      .col-xl-12{
      width: calc(100%/12*12);
    }
  }
  
  /* xxl */
  @media (min-width: 1400px){
    .col-xxl-1{
      width: calc(100%/12);
    }
      .col-xxl-2{
      width: calc(100%/12*2);
    }
      .col-xxl-3{
      width: calc(100%/12*3);
    }
      .col-xxl-4{
      width: calc(100%/12*4);
    }
      .col-xxl-5{
      width: calc(100%/12*5);
    }
      .col-xxl-6{
      width: calc(100%/12*6);
    }
      .col-xxl-7{
      width: calc(100%/12*7);
    }
      .col-xxl-8{
      width: calc(100%/12*8);
    }
      .col-xxl-9{
      width: calc(100%/12*9);
    }
      .col-xxl-10{
      width: calc(100%/12*10);
    }
      .col-xxl-11{
      width: calc(100%/12*11);
    }
      .col-xxl-12{
      width: calc (100%/12*12);
    }
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.list-unstyled{
  list-style-type: none;
}